Bonjour, un nouveau article a &eacute;t&eacute; post&eacute; sur le site <a href='{{ global.config.URL_HOMEPAGE }}' target='_blank'>{{ global.config.APP_NAME_FULL }}</a>.<br /><br />

Pour le consulter cliquez sur le lien ci-dessous :<br /><br />

<a href='{{ url('article_by_slug.lang', {_locale: 'fr', slug: slug}) }}' target='_blank'>{{ url('article_by_slug.lang', {_locale: 'fr', slug: slug}) }}</a><br /><br />

Cordialement,